<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Plantir</title>

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>



<p>Click create to start a new plan, or enter a previous token.</p>
<form action="/create" method="POST">
  <button type="submit">Create</button>
</form>
<br>
<form action="/findtoken" method="POST">
  <input type="text" placeholder="not working yet desu~" name="token">
  <button type="submit">Submit</button>
</form>

hi
</body>

</html>