<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Plantir</title>

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>

<p>Edit your tile</p>
<form action="/edit" method="POST">
  <input type="text" placeholder="name" name="name">
  <button type="submit">Submit</button>
</form>
<hr>

  Your tile:

	<ul class="tileprops">
	  <% for(var i=0; i<tileprops.length; i++) {%>
	    <li class="plant">
	      <span><%= tileprops[i].name %></span>
	    </li>
	  <% } %>
	</ul>


</body>

</html>